**
!deploy/
!deploy/Dockerfile
!gateway/
!gateway/package.json
!gateway/package-lock.json
!server/
!server/**
!openclaw-bridge/
!openclaw-bridge/**
!proactive-bridge/
!proactive-bridge/**
!wechat-batching/
!wechat-batching/**
!pyproject.toml
!requirements.lock
!README.md
!LICENSE
**/__pycache__/
**/*.pyc
